*{  
    font-family: cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* root */
:root{
    --gap: 20px;
}
/* header */
header{
    width: 100%;
    height: 400px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqKg5pT5Wy3VuAnOoTiAcGm21wSFVCfn4xDQ&s);
    background-repeat: no-repeat;
    background-size: 100% 400px;
}
header h1{
    font-size: 80px;
}
/* main */
main .container{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: baseline;
    margin-bottom: 30px;
    margin-top: 20px;
}
main .container h2{
    font-size: 30px;
}
/* footer */
.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
    align-content: baseline;
}
.container section{
    width: 33.33333333%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}